.promo
	.container-fluid
		display: flex
		justify-content: center	
		max-width: 2500px
		padding: 0
	&_wrapper
		display: flex
		justify-content: center	
		flex-direction: column
		height: 966px
		width: 100%
		background-image: url(../img/HEADER-PROMO/backgr_header.jpg)
		@include image_features
		&_header
			min-height: 136px
			background: $promo_header_background_color
			top: 0
			.row
				min-height: 136px
				display: flex
				align-items: center
				margin: 0
			&_hamburger-box-menu
				display: none
				&_menu
					&_list
						margin: 0
						padding: 0
						display: flex
						justify-content: space-evenly
						align-items: center	
						flex-direction: column
						list-style-type: none
						&_item
							&_link
								color: $white_color
								font-size: 22px
								text-decoration: none
								font-weight: 600
								&:hover
									color: $blue_color
									text-decoration: underline	
			&_logo
				display: flex
				align-items: center
				&_link
					&_img	
						height: 52px				
			&_menu
				padding: 0
				margin-top: 12px 
				&_list
					margin: 0
					padding: 0
					display: flex
					justify-content: space-evenly
					list-style-type: none
					&_item
						&_link
							color: $white_color
							font-size: 22px
							text-decoration: none
							font-weight: 600
							&:hover
								color: $blue_color
								text-decoration: underline
			&_search-box
				display: flex
				justify-content: flex-start
				align-items: center
				width: 16%
				height: 30px
				margin-top: 11px 
				padding: 0 3px 0 3px
				background: none
				border-radius: 6px
				border: 2px solid $search-box_color
				color: $white_color
				opacity: 0.9
				&:hover
					opacity: 1.0
					color: $white_color
				&_text
					width: 100%       
					background: none
					border: none
					font-size: 22px
					color: $white_color
					opacity: 0.9
					outline: none
					&:hover
						color: $white_color
						opacity: 1          
		&_call-to-action
			display: flex		 
			justify-content: center		
			.row
				height: 830px
				display: flex			
				justify-content: center	
				width: 100%
			&_box
				display: flex
				flex-direction: column
				justify-content: center			
				align-items: center	
				width: 100%	
				&_h1
					color: $white_color
					font-size: 72px
					font-weight: bold
					margin-bottom: 0px
					text-align: center
					padding: 0 30px 0 30px
					span
						color: $blue_color
				&_p
					padding: 0 60px 0 60px
					text-align: center
					margin-top: 11px
					color: $white_color
					font-size: 32px
				&_button
					display: flex
					justify-content: center
					align-items: center
					height: 200px
					width: 215px
					&_learn_more
						height: 60px
						width: 215px
						display: flex
						justify-content: center	
						align-items: center		
						background: $blue_color
						color: $white_color
						border-radius: 55px
						font-size: 18px
						font-weight: bold
						text-decoration: none
						border: 1px solid
						&:hover
							background: $white_color
							color: $blue_color

.our_services
	.container-fluid
		display: flex
		justify-content: center	
		max-width: 2500px
		padding: 0
	&_wrapper
		display: flex
		justify-content: center
		width: 100%	
		height: 100%
		background-image: url(../img/OUR-SERVICES/BackGr_Srv_2000.png)
		@include image_features
		padding-bottom: 136px
		&_h2
			display: flex
			justify-content: center
			align-items: center
			height: 200px
			border-bottom: 3px solid $our_services_h2_border-bottom_color
			&_text
				color: $h_color
				font-size: 48px
				font-weight: 600
				text-align: center
				margin: 0
		.row
			min-height: 45px
			margin: 0
		&_offset_block
			height: 80px
		&_box
			&_img
				display: flex
				align-items: flex-end
				height: 80px
				&_rd,
				&_lock,
				&_tv,
				&_lamp
					height: 80px
			&_text
				min-height: 110px
				display: flex
				flex-direction: column
				justify-content: space-evenly
				&_h3
					color: $h_color
					font-size: 28px
					margin-bottom: 0
			&_text_block
				display: flex
				justify-content: flex-start			
				&_p
					color: $p_color
					font-size: 16px
					line-height: 38px
					max-width: 520px
					font-weight: bold
					margin-bottom: 0
		.button_blue_center
			display: flex
			flex-direction: row 
			justify-content: center
			align-items: center				
		&_box_button
			height: 250px
			width: 215px
			display: flex
			justify-content: center
			align-items: center
			padding: 0
			&_blue
				@include button_blue_center
		.row	
		&_gray_text
			display: flex
			align-items: center
			&_box
				height: 100%
				display: flex
				flex-direction: column
				justify-content: space-evenly
				&_h3
					color: $h_color
					font-size: 36px
					margin: 0
					font-weight: 600
				&_p
					color: $p_color
					font-size: 16px
					font-weight: bold
					margin: 0
					line-height: 38px
				&_button_blue
					@include button_blue_left
		&_mac_laptop
			display: flex
			justify-content: center
			&_img
				width: 100%
		.row	
		&_offset_block	
			height: 200px			
		&_mac_ipad
			display: flex
			justify-content: flex-start
			&_img
				width: 80%
		&_white_text
			display: flex
			align-items: center
			&_box
				height: 100%
				display: flex
				flex-direction: column
				justify-content: space-evenly
				&_h3
					color: $white_color
					font-size: 36px
					margin: 0
					font-weight: 600
				&_p
					color: $white_color
					font-size: 16px
					font-weight: bold
					margin: 0
					line-height: 38px
				&_button_white
					@include button_white_left

.strategy
	display: flex
	justify-content: center
	.container-fluid
		display: flex
		justify-content: center	
		max-width: 2500px
		min-height: 830px
		padding: 0
	&_wrapper
		display: flex
		justify-content: center
		.row
			display: flex
			justify-content: center				
			margin: 0
		&_img
			padding: 0
			background-image: url(../img/STRATEGY/man_desk.png)
			@include image_features
			width: 50%
		&_text
			display: flex
			justify-content: center
			align-items: center
			width: 50%
			padding: 0 24px
			&_box
				display: flex
				flex-direction: column
				justify-content: space-evenly
				align-items: center
				height: 95%
				&_h3
					color: $h_color
					font-size: 36px
					font-weight: 600
					margin: 0px
				&_p
					color: $p_color
					font-size: 16px
					line-height: 34px
					font-weight: bold
					margin: 0px
				&_button_blue
					@include button_blue_center

.category
	display: flex
	justify-content: center
	.container-fluid
		display: flex
		justify-content: center	
		max-width: 2500px
		padding: 0
	&_wrapper
		display: flex
		justify-content: center
		width: 100%
		.row
			display: flex
			justify-content: center
			width: 100%
			margin: 0
		&_box
			height: 434px
			display: flex
			justify-content: center
			align-items: center	
			padding: 0
			&_link_1
				@include category_box_link
				background-image: url(../img/CATEGORY/Mac_book_black.png)
				@include image_features
				&:hover
					background-image: url(../img/CATEGORY/Mac_book_blue.png)
					color: $white_color
			&_link_2
				@include category_box_link
				background-image: url(../img/CATEGORY/conference_hall_black.png)
				@include image_features
				&:hover
					background-image: url(../img/CATEGORY/conference_hall_blue.png)
					color: $white_color
			&_link_3
				@include category_box_link
				background-image: url(../img/CATEGORY/Mc_keyboard_black.png)
				@include image_features
				&:hover
					background-image: url(../img/CATEGORY/Mc_keyboard_blue.png)
					color: $white_color
			&_link_4
				@include category_box_link
				background-image: url(../img/CATEGORY/notepad_pen_black.png)
				@include image_features
				&:hover
					background-image: url(../img/CATEGORY/notepad_pen_blue.png)
					color: $white_color

.team
	display: flex
	justify-content: center
	.container-fluid
		display: flex
		justify-content: center	
		align-items: center
		max-width: 2500px	
		max-height: 810px
		padding: 0
	&_wrapper
		display: flex
		justify-content: center
		align-items: center
		width: 100%		
		padding-bottom: 56px
		&_h2_box
			display: flex
			justify-content: center
			align-items: center
			height: 250px
			width: 50%
			&_text
				font-size: 72px
				font-weight: bold
				span
					color: $blue_color
					font-size: 72px
					font-weight: bold
		.row
		&_offset_block	
			height: 80px	
		&_member
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			height: 400px
			&_img
				display: flex
				justify-content: center
				&_John_Doe,
				&_Paul_Kowalsy,
				&_Emilly_Williams,
				&_Patricia_Green
					height: 220px
			&_text
				display: flex
				flex-direction: column
				justify-content: space-evenly			
				font-weight: 600
				text-align: center
				max-height: 70px	
				&_h3
					margin: 0
					color: $h_color
					font-size: 36px
			&_text_box
				display: flex
				flex-direction: column
				justify-content: space-evenly
				font-size: 16px
				font-weight: 500
				color: $p_color
				text-align: center
				max-height: 40px	
				&_p
					margin: 0
			&_link
				@include button_blue_center

.contact_us
	display: flex
	justify-content: center
	.container-fluid
		display: flex
		justify-content: center	
		align-items: center
		max-width: 2500px
		height: 724px
		background-image: url(../img/CONTACT-US/backgr_contact.jpg)
		@include image_features		
		padding: 0
	&_wrapper
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		.row
			display: flex
			justify-content: flex-start
		&_information
			height: 456px
			display: flex
			flex-direction: column
			justify-content: space-evenly
			&_box
				height: 85%
				display: flex
				flex-direction: column
				justify-content: space-evenly
				&_h2 
					&_text
						color: $white_color
						font-weight: bold
						font-size: 72px
						margin-bottom: 0
				&_text
					height: 50%
					display: flex
					flex-direction: column
					justify-content: space-evenly
					&_address
						color: $p_color
						font-size: 22px
						margin-bottom: 0
					&_phone,
					&_e-mail
						color: $p_color
						font-size: 32px
						margin-bottom: 0
					&_phone
					span,
					&_e-mail
					span
						color: $blue_color
			&_box_list
				display: flex
				flex-direction: row
				justify-content: space-between
				width: 94%
				padding: 0
				margin-bottom: 0
				&_item_twitter
					@include contact_us_information_box_list_item
					background: $twitter_background
					&:hover
						background: $contact_us_information_box_list_hover
				&_item_facebook
					@include contact_us_information_box_list_item
					background: $facebook_background
					&:hover
						background: $contact_us_information_box_list_hover
				&_item_pinterest
					@include contact_us_information_box_list_item
					background: $pinterest_background
					&:hover
						background: $contact_us_information_box_list_hover
				&_item_google
					@include contact_us_information_box_list_item
					background: $google_background
					&:hover
						background: $contact_us_information_box_list_hover
				&_item_e-mail
					@include contact_us_information_box_list_item
					background: $e-mail_background
					&:hover
						background: $contact_us_information_box_list_hover
		&_offset_block
			display: none						
		&_web_form
			display: flex
			flex-direction: column
			justify-content: space-evenly
			height: 456px
			&_box
				display: flex
				flex-direction: column
				justify-content: space-evenly
				height: 85%
				&_text,
				&_e-mail
					width: 100%
					height: 60px
					background: none
					border-radius: 6px
					border: 1px solid $contact_us_web_form_color
					color: $white_color
					font-size: 22px
					font-family: Montserrat
					margin: 0
				&_textarea
					width: 100%
					height: 200px
					background: none
					border-radius: 6px
					border: 1px solid $contact_us_web_form_color
					color: $white_color
					font-size: 22px
					resize: none
					font-family: Montserrat
					margin: 0
			&_blue_button      
				@include button_blue_left
				height: 60px
				width: 215px
				font-size: 18px
				margin: 0
				
.footer
	display: flex
	justify-content: center
	.container-fluid
		display: flex
		justify-content: center	
		max-width: 2500px
		background-color: $footer_background-color
		padding: 0
	&_wrapper
		display: flex
		justify-content: center
		width: 100%	
		.row
			display: flex
			width: 100%
			margin: 0
		&_menu
			height: 136px
			display: flex
			flex-direction: column
			justify-content: center
			padding: 0 
			&_list
				display: flex
				justify-content: space-between
				align-items: center
				list-style-type: none
				font-size: 18px
				width: 90%
				height: 20%
				padding: 0
				margin: 0
				&_item_link
					color: $footer_menu_list_item_link_color
					text-decoration: none
					font-weight: bold
					&:hover
						color: $blue_color
						text-decoration: underline
						font-weight: bold
		&_copyright
			height: 136px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-end
			padding-right: 0
			&_p
				color: $white_color
				font-size: 16px
				height: 20%
				padding: 0
				margin: 0
				display: flex
				align-items: center