@media (max-width: 1920px)	

	.promo
		.container-fluid
			// max-width: none
		&_wrapper
			height: $height_966-525
			&_header
				.row
				&_hamburger-box-menu
					&_menu
						&_list
							&_item
								&_link
									font-size: $font-size_22-15
				&_logo
					&_link
						&_img        
							height: $height_52-22					
				&_menu
					&_list
						&_item
							&_link
								font-size: $font-size_22-15
				&_search-box
					&_text
						font-size: $font-size_22-15
			&_call-to-action
				.row
					height: $height_830-312	
				&_box
					&_h1
						font-size: $font-size_72-32
					&_p
						font-size: $font-size_32-15_1
					&_button
						height: $height_200-106
						width: $width_215-146
						&_learn_more
							height: $height_60-44
							width: $width_215-146
							font-size: $font-size_18-13

	.our_services
		.container-fluid
		&_wrapper
			padding-bottom: $height_136-50	
			&_h2
				height: $height_200-90
				&_text
					font-size: $font-size_48-23
			.row
			&_offset_block
				height: $height_80-45
			&_box
				&_img
					height: $height_80-45
					&_rd,
					&_lock,
					&_tv,
					&_lamp
						height: $height_80-45
				&_text
					&_h3
						font-size: $font-size_28-21
				&_text_block			
					&_p
						font-size: $font-size_16-11_1
						line-height: $line-height_38-20
			.button_blue_center
			&_box_button
				height: $height_250-132
				width: $width_215-146
				&_blue
					height: $height_60-44
					width: $width_215-146
					font-size: $font-size_18-13
			.row	
			&_gray_text
				&_box
					&_h3
						font-size: $font-size_36-18
					&_p
						font-size: $font-size_16-11_1
						line-height: $line-height_38-20
					&_button_blue
						height: $height_60-44
						width: $width_215-146
						font-size: $font-size_18-13
			.row	
			&_offset_block
				height: $height_200-90
			&_white_text
				&_box
					&_h3
						font-size: $font-size_36-18
					&_p
						font-size: $font-size_16-11_1
						line-height: $line-height_38-20
					&_button_white
						height: $height_60-44
						width: $width_215-146
						font-size: $font-size_18-13

	.strategy
		.container-fluid
			min-height: $height_830-312
		&_wrapper
			.row
			&_img
			&_text
				&_box
					&_h3
						font-size: $font-size_36-18
					&_p
						font-size: $font-size_16-11_1
					&_button_blue	
						height: $height_60-44
						width: $width_215-146
						font-size: $font-size_18-13	

	.category
		.container-fluid
		&_wrapper	
			width: 100%
			height: $height_434-224	
			.row
			&_box
				height: $height_434-224	
				&_link_1,
				&_link_2,
				&_link_3,
				&_link_4
					font-size: $font-size_46-21

	.team
		.container-fluid
			max-height: $height_810-670
		&_wrapper
			&_h2_box
				height: $height_250-132
				&_text
					font-size: $font-size_72-32
					span
						font-size: $font-size_72-32
			.row
			&_offset_block
				height: $height_80-45		
			&_member
				height: $height_400-350	
				&_img
					&_John_Doe,
					&_Paul_Kowalsy,
					&_Emilly_Williams,
					&_Patricia_Green
						height: $height_220-190
				&_text
					&_h3
						font-size: $font-size_36-14_1
				&_text_box
					font-size: $font-size_16-10_1
				&_link
					height: $height_60-44
					width: $width_215-146	
					font-size: $font-size_18-13	
	
	.contact_us
		.container-fluid
			height: $height_724-384
		&_wrapper				
			.row
			&_information
				height: $height_456-344
				&_box
					height: 85%
					&_h2 
						&_text
							font-size: $font-size_72-32
					&_text
						height: 50%
						&_address
							font-size: $font-size_22-15_2
						&_phone,
						&_e-mail
							font-size: $font-size_32-17_1
				&_box_list
					width: 94%
			&_web_form
				height: $height_456-344
				&_box
					height: 85%
					&_text,
					&_e-mail
						width: 100%
						height: $height_60-44
						font-size: $font-size_22-15
					&_textarea
						width: 100%
						height: $height_200-106
						font-size: $font-size_22-15
				&_blue_button
					height: $height_60-44
					width: $width_215-146
					font-size: $font-size_18-13

	.footer
		.container-fluid
		&_wrapper
			.row
			&_menu
				height: $height_136-50
				&_list
					font-size: $font-size_18-13
			&_copyright
				height: $height_136-50
				&_p
					font-size: $font-size_16-10_1

	// -------------------------------------------------------

@media (max-width: 1399.98px)

	.strategy
		.container-fluid
			min-height: $height_1460-1000
		&_wrapper
			.row
			&_img
				height: 60%
				width: 100%
			&_text	
				width: 100%
				height: 40%
				&_box
					height: 94%

	.contact_us
		.container-fluid
		&_wrapper	
			.row
			&_information
				&_box_list
					width: 76%	

@media (max-width: 1199.98px)

	.contact_us
		.container-fluid
		&_wrapper	
			.row
			&_information
				&_box_list
					width: 90%			


@media (max-width: 991.98px)

	.promo
		.container-fluid
		&_wrapper
			&_header
				.row
				&_hamburger-box-menu
					display: flex	
					padding: 0				
					&_menu		
						&_list
							position: fixed	
							top: 0		
							left: -100%
							width: 50%
							height: 100vh
							background-color: rgba(0, 0, 0, 0.8)
							transition: 0.6s all
							&_active
								left: 0						
							&_item
								&_link				
									font-size: $font-size_28-16_1
					&_hamburger
						display: block
						position: absolute          
						right: 9.5%
						width: 40px 
						height: 17px      
						span
							display: block
							height: 3px
							width: 100%
							background-color: $white_color 
							transition: 0.5s all
							&:nth-child(2)
								margin: 4px 0              
						&_active
							span 
								margin-top: -4px               
								&:nth-child(1)
									margin-top: 2px
									transform: translateY(3px) rotate(-45deg)                    
								&:nth-child(2)
									display: none                                             
								&:nth-child(3)
									margin-top: -2px
									transform: translateY(3px) rotate(45deg)
				&_logo
					&_link
						&_img        
							height: $height_48-22																
				&_menu
					display: none				
				&_search-box
					width: 24%
					margin-top: 9px 

	.our_services
		.container-fluid
		&_wrapper	
			.row	
			&_box
				&_text
					&_h3
						font-size: $font-size_24-18
			&_gray_text
				&_box
					height: 250px
			&_mac_laptop
				justify-content: center
				&_img
					margin-top: 30px
					float: none	
					width: 105%		 
			.row			
			&_mac_ipad
				justify-content: center
				&_img
					float: none
					width: 76%			
			&_white_text
				margin-top: 30px
				&_box
					height: 250px	

	.strategy
		.container-fluid
		&_wrapper
			.row
			&_img
				height: 50%
			&_text	
				height: 50%

	.category
		.container-fluid
		&_wrapper	
			height: 100%		
			.row
			&_box					
				height: $height_434-244
				&_link_1,
				&_link_2,
				&_link_3,	
				&_link_4
					font-size: $font-size_38-26

	.team
		.container-fluid	
			max-height: $height_1100-900
		&_wrapper	
			&_h2_box
				width: 100%	
				&_text
					text-align: center
			.row
			&_member
				height: $height_350-300
				&_img
					&_John_Doe,
					&_Paul_Kowalsy,
					&_Emilly_Williams,
					&_Patricia_Green
						height: $height_200-140

	.contact_us
		.container-fluid
		&_wrapper	
			.row
			&_information
				&_box
					&_text 
						&_address
							font-size: $font-size_22-15_3			
				&_box_list
					width: 100%	

	.footer
		.container-fluid
		&_wrapper
			.row
			&_menu	
				&_list	
					font-size: $font-size_13-12			


@media (max-width: 767.98px)       

	.promo
		.container-fluid
		&_wrapper
			&_header
				.row				
				&_search-box
					width: 24%
					margin-top: 5px

	.strategy
		.container-fluid
		&_wrapper
			.row
			&_img
				height: 45%
				width: 100%
			&_text	
				width: 100%
				height: 55%
				&_box
					height: 96%					

	.contact_us
		.container-fluid
			height: $height_1100-600
		&_wrapper				
			.row
			&_information
				height: $height_400-200
				&_box
					&_h2 
						&_text
							font-size: $font-size_62-32
					&_text
						&_address
							font-size: $font-size_20-11
						&_phone,
						&_e-mail
							font-size: $font-size_30-14
			&_offset_block
				display: block
				height: $height_60-38				
			&_web_form
				height: $height_500-250
				&_box
					&_text,
					&_e-mail
						height: $height_60-38
						font-size: $font-size_20-12
					&_textarea	
						height: $height_200-70	
						font-size: $font-size_20-12

	.footer
		.container-fluid
		&_wrapper
			.row
			&_menu
				&_list
					font-size: $font-size_18-12
					width: 100%
					height: 50%
			&_copyright
				align-items: center
				&_p
					font-size: $font-size_16-10_1
					height: 50%
			

@media (max-width: 575.98px)		
	.promo
		.container-fluid
		&_wrapper
			height: $height_800-500
			&_header
				.row
					display: block
				&_hamburger-box-menu
					&_hamburger
						top: 25px
						right: 3.5%					
				&_logo
					display: block
					width: 180px
					position: absolute
					top: 80px
					&_link
						&_img  
							height: $height_52-22    				
				&_search-box
					position: absolute
					top: 76px
					right: 3.5%
					width: 48%
					margin-top: 5px  
			&_call-to-action	
				.row
					height: $height_664-364
				&_box
					padding: 0
					&_h1	
						font-size: $font-size_68-32
					&_p
						font-size: $font-size_32-15_2

	.our_services
		.container-fluid
		&_wrapper
			background-image: url(../img/OUR-SERVICES/BackGr_Srv_1200.png)	
			&_h2
				height: $height_150-100
				&_text
					font-size: $font-size_34-18			
			.row
			&_box
				&_img
					height: $height_80-38
					&_rd,
					&_lock,
					&_tv,
					&_lamp
						height: $height_80-38
				&_text
					min-height: 60px
					&_h3
						font-size: $font-size_28-16_2	
				&_text_block
					&_p
						font-size: $font-size_16-10_2
						line-height: $line-height_38-20
			.button_blue_center
			&_box_button				
				height: $height_250-132
				width: $width_215-146
				&_blue
					height: $height_60-38
					width: $width_215-146	
					font-size: $font-size_18-13
			.row	
			&_gray_text
				&_box	
					&_h3
						font-size: $font-size_28-16_2
					&_p
						font-size: $font-size_16-10_2
						line-height: $line-height_38-20
					&_button_blue
						height: $height_60-38
						width: $width_215-146
						font-size: $font-size_18-13	
			&_mac_laptop
				justify-content: center
				&_img
					margin-top: 30px
					float: none	
					width: 100%		 
			.row			
			&_mac_ipad
				justify-content: center
				&_img
					float: none
					width: 70%
			&_white_text
				&_box	
					&_h3
						font-size: $font-size_28-16_2
					&_p	
						font-size: $font-size_16-10_2
						line-height: $line-height_38-20
					&_button_white
						height: $height_60-38
						width: $width_215-146	
						font-size: $font-size_18-13

	.strategy
		.container-fluid
			min-height: $height_1400-1000
		&_wrapper
			.row
			&_img
				height: 30%
				width: 100%
			&_text	
				width: 100%
				height: 70%
				&_box
					height: 100%
					&_h3
						font-size: $font-size_28-16_2
					&_p
						font-size: $font-size_16-10_2			

	.category
		.container-fluid
		&_wrapper
			.row
			&_box
				height: $height_434-300
				&_link_1,
				&_link_2,
				&_link_3,	
				&_link_4
					font-size: $font-size_46-26
	
	.team
		.container-fluid
			max-height: $height_2260-1600	
		&_wrapper	
			&_h2_box
				height: $height_260-180	
				&_text
					font-size: $font-size_68-32
					span
						font-size: $font-size_68-32
			.row
			&_offset_block
				height: $height_80-38				
			&_member	
				height: $height_434-300
				&_img
					&_John_Doe,
					&_Paul_Kowalsy,
					&_Emilly_Williams,
					&_Patricia_Green
						height: $height_260-180
				&_text
					&_h3	
						font-size: $font-size_46-26
				&_text_box	
					font-size: $font-size_20-16

	.contact_us
		.container-fluid
		&_wrapper	
			.row
			&_information
				&_box_list
					&_item_twitter,
					&_item_facebook,
					&_item_pinterest,
					&_item_google,
					&_item_e-mail
						height: $height_54-22
						width: $height_54-22
			
@media (max-width: 319.98px)
	.promo,
	.our_services,
	.strategy,
	.category,
	.team,
	.contact_us,
	.footer
		display: none